<header class=" navbar navbar-fixed-top navbar-inverse one">
    <div class="container">
        <%= link_to "sample app", root_path , id:"logo"%>
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Help", help_path, class: "nav-link" %>
                </li>
                <% if logged_in? %>
                    <li class="nav-item">
                    <%= link_to "Users", "#", class: "nav-link" %>
                    </li>
                    <li class="nav-item dropdown">
                    <a href="#" id="account" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="account">
                        <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
                        <li><%= link_to "Settings", "#", class: "dropdown-item" %></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><%= button_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
                    </ul>
                    </li>
                <% else %>
                    <li class="nav-item">
                    <%= link_to "Log in", "#", class: "nav-link" %>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>